name: Build and Release Packages

on:
  push:
    tags:
      - '*'  # Trigger the workflow on push of any tag

permissions:
  contents: write
  packages: write

env:
  PROJECT_NAME: wedit
  NFPM_VERSION: "2.40.0"
  NFPM_CONFIG: "nfpm.yaml"

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Extract Version
        id: extract_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Create DEB package
        uses: burningalchemist/nfpm-action@v1
        id: deb-package
        with:
          nfpm_version: ${{ env.NFPM_VERSION }}
          config: ${{ env.NFPM_CONFIG }}
          packager: "deb"

      - name: Create RPM package
        uses: burningalchemist/nfpm-action@v1
        id: rpm-package
        with:
          nfpm_version: ${{ env.NFPM_VERSION }}
          config: ${{ env.NFPM_CONFIG }}
          packager: "rpm"

      - name: Create Archlinux package
        uses: burningalchemist/nfpm-action@v1
        id: archlinux-package
        with:
          nfpm_version: ${{ env.NFPM_VERSION }}
          config: ${{ env.NFPM_CONFIG }}
          packager: "archlinux"

      - name: Create or Update Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            ${{ steps.deb-package.outputs.package }}
            ${{ steps.rpm-package.outputs.package }}
            ${{ steps.archlinux-package.outputs.package }}
          fail_on_unmatched_files: true
